<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/image_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurryFound"
        tools:targetApi="31">
        <activity
            android:name=".NotificationDetailActivity" />

        <activity
            android:name=".Fragment_Home_PetDetails"
            android:exported="false" />
        <activity
            android:name=".Fragment_Settings_ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Fragment_Home_EditProfile"
            android:exported="false" />
        <activity
            android:name=".Fragment_Settings_Privacy"
            android:exported="false" />
        <activity
            android:name=".Fragment_Settings_TermsConditions"
            android:exported="false" />
        <activity
            android:name=".Fragment_Home_ApplicationForm"
            android:exported="false" />
        <activity
            android:name=".Fragment_LogIn_Home"
            android:exported="false" />
        <activity
            android:name=".LogIn_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Register_Email"
            android:exported="true" />
        <activity
            android:name=".LogIn"
            android:exported="true" />
        <activity
            android:name=".Welcome_Screen"
            android:exported="false" />
        <activity
            android:name=".User_Authentication"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>